body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(45deg, #ff0099, #493240);
    color: white;
    font-family: 'Poppins', sans-serif;
}

.clock-container {
    text-align: center;
}

.clock {
    font-size: 4rem;
    font-weight: bold;
    background: rgba(0, 0, 0, 0.7);
    padding: 30px 50px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
}

.date {
    font-size: 1.5rem;
    margin-top: 10px;
}
